@model EcommerceWebsite.Models.Home.HomeIndexViewModel
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Home Page";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kmS/X6Z6ZlZUnGIAh0ax7efW3I5t0z5nXn1l5A4Xp1l5B2f4C3mS5P5F5O5E5I5t0z" crossorigin="anonymous"></script>
<body>
    <div>
        <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active c-item">
                    <img src="~/Images/pexels-liza-summer-6347720.jpg" class="d-block w-100 c-img" alt="Slide 1">
                    <div class="carousel-caption top-0 mt-4">
                        <p class="mt-5 fs-3 text-uppercase">Bạn muốn trở thành chuyên gia Kinh Tế</p>
                        <h1 class="display-1 fw-bolder text-capitalize">Hãy đến với khóa học Kinh Tế</h1>
                        <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-link="#enconomy">Đăng ký ngay!</button>
                    </div>
                </div>
                <div class="carousel-item c-item">
                    <img src="~/Images/pexels-pixabay-256381.jpg" class="d-block w-100 c-img" alt="Slide 2">
                    <div class="carousel-caption top-0 mt-4">
                        <p class="text-uppercase fs-3 mt-5">Bạn muốn trở thành Kĩ Thuật Viên</p>
                        <p class="display-1 fw-bolder text-capitalize">20 khóa học có sẵn</p>
                        <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-link="#technology" data-bs-toggle="modal"
                                data-bs-target="#booking-modal">
                            Đăng kí ngay!
                        </button>
                    </div>
                </div>
                <div class="carousel-item c-item">
                    <img src="~/Images/pexels-anna-shvets-4225880.jpg" class="d-block w-100 c-img" alt="Slide 3">
                    <div class="carousel-caption top-0 mt-4">
                        <p class="text-uppercase fs-3 mt-5">Bạn muốn trở thành vị Bác Sĩ</p>
                        <p class="display-1 fw-bolder text-capitalize">Gặp gỡ các chuyên gia đầu ngành</p>
                        <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-link="#medicine" data-bs-toggle="modal"
                                data-bs-target="#booking-modal">
                            Đăng kí ngay!
                        </button>
                    </div>
                </div>
                <div class="carousel-item c-item">
                    <img src="~/Images/pexels-antoni-shkraba-4348401.jpg" class="d-block w-100 c-img" alt="Slide 4">
                    <div class="carousel-caption top-0 mt-4">
                        <p class="text-uppercase fs-3 mt-5">Bạn muốn trở thành Ca Sĩ, Mangaka</p>
                        <p class="display-1 fw-bolder text-capitalize">Đam mê mãn liệt, sáng tạo bất tận</p>
                        <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-link="#art" data-bs-toggle="modal"
                                data-bs-target="#booking-modal">
                            Đăng kí ngay!
                        </button>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

            <script>
                const buttons = document.querySelectorAll('.btn.btn-primary.px-4.py-2.fs-5.mt-5');

                buttons.forEach(function (button) {
                    button.addEventListener('click', function () {
                        const link = button.getAttribute('data-link');
                        window.location.href = link;
                    });
                });
            </script>
        </div>

        <div class="row">
            <h1 class="mt-5 mb-4 text-center">
                Tất cả
                <small class="text-muted">
                    khóa học của
                </small>
                Chúng Tôi
            </h1>
        </div>

        <div class="row">
            @foreach (var item in Model.ListOfProducts)
            {
                <div class="card mx-3" style="width: 18rem;">
                    <img src="~/ProductImages/@item.ProductImage" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.ProductName</h5>
                        <p class="card-text">Test</p>
                        <p class="card-text">@item.Price VND</p>
                        <p class="card-text">
                            @if (item.Quantity > 0)
                            {
                                using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductId }, FormMethod.Post))
                                {
                                    <button type="submit" class="btn float-end">
                                        <i>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                            </svg>
                                        </i>
                                    </button>
                                }

                            <p>Còn sẵn</p>
                        }
                        else
                        {
                            <p>Hết hàng</p>
                        }
                            </p>
                            <span class="position-absolute top-0 start-0 bg-danger text-white px-2">
                                @if (@item.IsFeatured == true)
                                {
                                    <span>Mới</span>
                                }
                                else
                                {
                                    <span>Chất lượng</span>
                                }
                            </span>
                        </div>
                    </div>
                }
        </div>

        <div class="row" id="technology">
            <h1 class="mt-5 mb-4 text-center">Ngành Kỹ Thuật</h1>
            @for (int i = 1; i <= 8; i++)
            {
                foreach (var item in Model.ListOfProducts)
                {
                    if (item.ProductId == i)
                    {
                        <div class="card mx-3" style="width: 18rem;">
                            <img src="~/Images/pexels-thisisengineering-3862627.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="card-title">
                                    <a href="../Home/TechnicalCourse" class="btn btn-light">@item.ProductName</a>
                                </div>
                                <p class="card-text">Test</p>
                                <p class="card-text">@item.Price VND</p>
                                <p class="card-text">
                                    @if (item.Quantity > 0)
                                    {
                                        using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductId }, FormMethod.Post))
                                        {
                                            <button type="submit" class="btn float-end">
                                                <i>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                                    </svg>
                                                </i>
                                            </button>
                                        }

                                    <p>Còn sẵn</p>
                                }
                                else
                                {
                                    <p>Hết hàng</p>
                                }
                                    </p>
                                    <span class="position-absolute top-0 start-0 bg-danger text-white px-2">
                                        @if (@item.IsFeatured == true)
                                        {
                                            <span>Mới</span>
                                        }
                                        else
                                        {
                                            <span>Chất lượng</span>
                                        }
                                    </span>
                                </div>
                            </div>
                        }

                    }
                }
        </div>

        <div class="row" id="enconomy">
            <h1 class="mt-5 mb-4 text-center">Ngành Kinh Tế</h1>
            @for (int i = 9; i <= 12; i++)
            {
                foreach (var item in Model.ListOfProducts)
                {
                    if (item.ProductId == i)
                    {
                        <div class="card mx-3" style="width: 18rem;">
                            <img src="~/Images/pexels-pixabay-210607.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="card-title">
                                    <a href="../Home/EconomicsCourse" class="btn btn-light">@item.ProductName</a>
                                </div>
                                <p class="card-text">Test</p>
                                <p class="card-text">@item.Price VND</p>
                                <p class="card-text">
                                    @if (item.Quantity > 0)
                                    {
                                        using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductId }, FormMethod.Post))
                                        {
                                            <button type="submit" class="btn float-end">
                                                <i>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                                    </svg>
                                                </i>
                                            </button>
                                        }

                                    <p>Còn sẵn</p>
                                }
                                else
                                {
                                    <p>Hết hàng</p>
                                }
                                    </p>
                                    <span class="position-absolute top-0 start-0 bg-danger text-white px-2">
                                        @if (@item.IsFeatured == true)
                                        {
                                            <span>Mới</span>
                                        }
                                        else
                                        {
                                            <span>Chất lượng</span>
                                        }
                                    </span>
                                </div>
                            </div>

                        }
                    }
                }
        </div>

        <div class="row" id="medicine">
            <h1 class="mt-5 mb-4 text-center">Ngành Y Học</h1>
            @for (int i = 13; i <= 17; i++)
            {
                foreach (var item in Model.ListOfProducts)
                {
                    if (item.ProductId == i)
                    {
                        <div class="card mx-3" style="width: 18rem;">
                            <img src="~/Images/pexels-tima-miroshnichenko-5407206.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="card-title">
                                    <a href="../Home/MedicalCourse" class="btn btn-light">@item.ProductName</a>
                                </div>
                                <p class="card-text">Test</p>
                                <p class="card-text">@item.Price VND</p>
                                <p class="card-text">
                                    @if (item.Quantity > 0)
                                    {
                                        using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductId }, FormMethod.Post))
                                        {
                                            <button type="submit" class="btn float-end">
                                                <i>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                                    </svg>
                                                </i>
                                            </button>
                                        }

                                    <p>Còn sẵn</p>
                                }
                                else
                                {
                                    <p>Hết hàng</p>
                                }
                                    </p>
                                    <span class="position-absolute top-0 start-0 bg-danger text-white px-2">
                                        @if (@item.IsFeatured == true)
                                        {
                                            <span>Mới</span>
                                        }
                                        else
                                        {
                                            <span>Chất lượng</span>
                                        }
                                    </span>
                                </div>
                            </div>
                        }

                    }
                }
        </div>

        <div class="row" id="art">
            <h1 class="mt-5 mb-4 text-center">Ngành Nghệ Thuật</h1>
            @for (int i = 18; i <= 21; i++)
            {
                foreach (var item in Model.ListOfProducts)
                {
                    if (item.ProductId == i)
                    {
                        <div class="card mx-3" style="width: 18rem;">
                            <img src="~/Images/pexels-vitalina-3807278.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="card-title">
                                    <a href="../Home/ArtCourse" class="btn btn-light">@item.ProductName</a>
                                </div>
                                <p class="card-text">Test</p>
                                <p class="card-text">@item.Price VND</p>
                                <p class="card-text">
                                    @if (item.Quantity > 0)
                                    {
                                        using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductId }, FormMethod.Post))
                                        {
                                            <button type="submit" class="btn float-end">
                                                <i>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                                    </svg>
                                                </i>
                                            </button>
                                        }

                                    <p>Còn sẵn</p>
                                }
                                else
                                {
                                    <p>Hết hàng</p>
                                }
                                    </p>
                                    <span class="position-absolute top-0 start-0 bg-danger text-white px-2">
                                        @if (@item.IsFeatured == true)
                                        {
                                            <span>Mới</span>
                                        }
                                        else
                                        {
                                            <span>Chất lượng</span>
                                        }
                                    </span>
                                </div>
                            </div>
                        }

                    }
                }
        </div>
        <div class="container">
            <br />
            @Html.PagedListPager(Model.ListOfProducts, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })
        </div>
    </div>
</body>